body
{ 
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
}
h1 {
    margin-top: 50px;
    font-family:'Times New Roman', 'Times', 'serif';
    font-style: bold;
    color: rgb(90, 61, 138);
    text-shadow: 2px 1px rgb(173, 141, 224);
}
label{
font-size: 120%;
color: rgb(84, 48, 192);
font-weight: bold;
font-family: Georgia, Times, 'Times New Roman', serif;
}
#id{
    margin-left: 30px;
    height: 30px;
    width: 190px;
    text-align: center;
    font-size: 15px;
    
}
#password{
    margin-left: 13px;
    height: 30px;
    width: 190px;
    text-align: center;
}
button{
    height: 35px;
    width: 100px;
    background-color:  rgb(100, 72, 146);
    color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}
#etud{
    margin-left: 40px;
    height: 30px;
    width: 190px;
    text-align: center;
    font-size: 15px;
}
#maths{
    margin-left: 66px;
    height: 30px;
    width: 190px;
    text-align: center;
    font-size: 15px; 
}
#info{
    margin-left: 5px;
    height: 30px;
    width: 190px;
    text-align: center;
    font-size: 15px; 

}
.form{
background-color: rgb(118, 211, 228);
text-align: center;
border-style:ridge ;
border-radius: 10px;
border-color: rgb(132, 197, 223);
padding:40px 40px 10px 10px ;
height: 400px;
width: 500px;
margin: auto;
margin-top: 90px;

}
h2{
    font-family:'Times New Roman', 'Times', 'serif';
    font-size: 30px;
    margin: auto;
    color: rgb(56, 49, 155);
}
p{
    color:white;
    font-weight: bold;
    font-size: 20px;
    font-family:'Times New Roman', 'Times', 'serif';
    margin: 10px ;
   
}


